<div class="container">
  <div class="sticker" *ngFor="let sticker of stickers">
    <h1 style="text-decoration: underline;">{{sticker.title}}</h1>
    <p>{{sticker.text}}</p>
    <div class="date">{{sticker.date|date:"d.MM.yy HH:mm"}}</div>
    <div class="id">{{sticker.id}}</div>
    <div class="deleteButton" (click)="deleteSticker(sticker.id)"></div>
  </div>
  <div class="stickCreatePanel sticker">
    <div class="container" style="flex-direction: column; height: 100%;">
      <textarea type="text" id="title" class="" placeholder="Введите заголовок" [(ngModel)]="title"></textarea>
      <textarea type="text" class="textarea" placeholder="Введите заметку" [(ngModel)]="text"></textarea>
      <button class="addButton" #addButton (click)="addNote(title,text)">Создать</button>
    </div>
  </div>
</div>
